<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Первый сайт</title>
<!--    <style>-->
<!--        p {-->
<!--            color: pink;-->
<!--        }-->
<!--    </style>-->
    <link rel="stylesheet" href="style.css">
</head>
<body>

<p style="color: red;">Текст</p>
<p id="test">Текст</p>
<p class="text">Текст</p>
<p class="text">Текст</p>
<p class="text">Текст</p>
<p>Текст</p>

<div class="empty"></div>

<h1>Текст</h1>
<a href="https://zerocoder.ru" target="_blank">Ссылка</a>

<hr>

<div class="card">
    <div class="photo">
        <img src="Чебурашка.jpg">
    </div>

    <div class="info">
        <h2>Заголовок</h2>
        <p>Блалалалалалалал лалал лал лал лал лаалалал дададада дададлалал лалалла щккщкщкщк
        лалалал лалалал лалалалалал лалалалал лалалалалалалалалалалал лалал, оаоаооаоаоаооао.</p>
    </div>
</div>
</body>
</html>