<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг блюд</title>
</head>
<body>

<table bgcolor="yellow" aligh="centre" border="1px" height="300px" width="600px">
	<tr>
		<th>Название блюда</th>
		<th>Оценка</th>
		<th>Ссылка на рецепт</th>
        <th>Фото блюда</th>
    </tr>

    <tr>
		<td>Пельмени</td>
		<td>5/5</td>
		<td>
            <a href="https://www.russianfood.com/recipes/recipe.php?rid=124988" target="_blank">Домашние пельмени</a>
        </td>
        <td>
			<img src="test/Пельмени.jpg" width="150px" alt="Пельмени" title="Пельмени">
		</td>
	</tr>

    <tr>
		<td>Лазанья</td>
		<td>6/5</td>
		<td>
			<a href="https://www.russianfood.com/recipes/recipe.php?rid=153142" target="_blank">Лазанья</a>
		</td>
        <td>
			<img src="test/Лазанья.jpg" width="150px" alt="Лазанья" title="Лазанья">
		</td>
	</tr>

    <tr>
		<td>Рамен</td>
		<td>4/5</td>
		<td>
			<a href="https://eda.ru/recepty/supy/yaponskiy-sup-ramen-58339?ysclid=m20eiytcg749111937" target="_blank">Рамен</a>
		</td>
        <td>
			<img src="test/Рамен.jpg" width="150px" alt="Рамен" title="Рамен">
		</td>
	</tr>

    <tr>
		<td>Печенка с луком</td>
		<td>2/5</td>
		<td>
			<a href="https://www.russianfood.com/recipes/recipe.php?rid=133266" target="_blank">Печень</a>
		</td>
        <td>
			<img src="test/Печень.jpg" width="150px" alt="Печень" title="Печень">
		</td>
	</tr>

    <tr>
		<td>Тирамису</td>
		<td>10/5</td>
		<td>
			<a href="https://www.russianfood.com/recipes/recipe.php?rid=151924" target="_blank">Тирамису</a>
		</td>
        <td>
			<img src="test/Тирамису.jpg" width="150px" alt="Тирамису" title="Тирамису">
		</td>
	</tr>
</body>
</html>